:root {
  --rot: 0deg;
  --posx: 0px;
  --posy: 0px;
  --z-index: 1;
}

h1 {
  font-size: 4em;
}

html {
  background: linear-gradient(red, blue, green, teal);
  margin: 0;
  padding: 0;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

article{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.photos li.wide {
  width: 616px;
}

ul.photos li {
  width: 300px;
  height: 300px;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 8px;
  z-index: var(--zindex);
  transform: rotate(var(--rot)) translate(var(--posx), var(--posy));
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.8);
  padding: 30px;
}

ul.photos li img{
  max-width: 100%;
}

@media (max-width: 400px){
  ul.photos li.wide {
    width: 280px;
  }
  ul.photos li {
    width: 280px
  }
}

ul.photos li.title-card {
  background: linear-gradient(45deg, blue, red);
  z-index: 100;
  border: 10px solid white;
}