:root {
  --rot: 0deg;
  --posx: 0px;
  --posy: 0px;
  --z-index: 1;
  --img-size: 300px;
  --img-size-res: 280px;
  --img-padding: 30px;
}

h1 {
  font-size: 4em;
}

html {
  background: linear-gradient( SlateBlue, navy, cornflowerblue);
  margin: 0;
  padding: 0;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

article{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.photos li.wide {
  width: 616px;
}

ul.photos > li {
  width: var(--img-size);
  height: var(--img-size);
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 8px;
  z-index: var(--zindex);
  transform: rotate(var(--rot)) translate(var(--posx), var(--posy));
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.8);
  padding: var(--img-padding);
}

ul.photos li img{
  max-width: 100%;
}

ul.photos li.title-card.top {
  background: goldenrod;
}

ul.photos li.title-card {
  color: white;
  background: #3399cc;
  /*background: linear-gradient(45deg, maroon, tomato);*/
  z-index: 100;
  border: 10px solid white;
	text-align: center;
}



ul.photos li.title-card p {
  font-size: 2em;
	font-family: 'Crafty Girls', cursive;
}

ul.photos li.title-card h1 {
  font-size: 4em;
	font-family: 'Crafty Girls', cursive;
}

.slideshow {
  position: relative;
}
.slideshow li {
  opacity: 0;
  position: absolute;
  top: calc(-1 * (var(--img-size)/2) - var(--img-padding)/2);
  left: calc(-1 * (var(--img-size)/2) + var(--img-padding)/2);
  width: var(--img-size);
  height: var(--img-size);
  transition: opacity 1s;
}
.slideshow li.show{
  opacity: 1;
}

@media (max-width: 400px){
  ul.photos li.wide {
    width: 280px;
  }

  ul.photos > li {
    width: 280px;
    transform: rotate(calc(var(--rot)*0.7)) translate(calc(var(--posx)*0.7), calc(var(--posy)*0.7));

  }

  .slideshow li {
      left: calc(-1 * (var(--img-size-res)/2) + var(--img-padding)/2);
  }
}
